/*******************************
         Site Overrides
*******************************/
body, .teal.pushable, .ui.pusher {
	background-color: rgb(205,231,202) !important;
	height:1000px;
}

.sidebar.icon, search.icon {
	margin:6px 12px;
}

.search input {
	color: #000;
}

img.ui_logo {
	padding-top:20px;
}

div.ui.image.fixed.footer {
	background: rgb(75, 137, 218);
	position: fixed;
	bottom: 0px;
	width: 100%;
}

div.ui.image.fixed.footer .content {
	max-width: 50%;
	float: right;
}

div.ui.raised.segment.root {
	background-color: transparent !important;
	padding-bottom: 0;
	padding-top: 0;
	}

div.ui.raised.segment.root h4 {
	font-size: 250% !important;
	color: orange;
}

div.ui.raised.segment {
	height: 80px;
}

.halsa_valmoende {
	background-color: #688fca !important;
	}

.halsa_valmoende .content .segment {
	background-color: #7cbaca !important;	

}

.arbete {		
	background-color: #93c282 !important;
	}

.arbete .content .segment {
	background-color: #0e7c72 !important;
	/**color: #f4eab2;	**/
		
}	

.ekonomi {		
	background-color: #f9d7e6 !important;	
	}

.ekonomi .content .segment {
	background-color: #f9c1da !important;	

}

.studier {		
	background-color: #f4be8e !important;	
	}

.studier .content .segment {
	background-color: #f4ddb2;
}

.samtalstjanster {		
	background-color: rgb(247,205,223) !important;	
	}

.radgivning {		
	background-color: rgb(190,165,249) !important;	
	}

.radgivning .content .segment {
	background-color: #d1bbff;
}



.ui.styled.fluid.accordion	{
	background-color: transparent !important;
}


/* R:205 G:231 B:202 

.halsa_valmoende {
	background-color: rgb(119,96,114);
	}
.ui segment huvud_test1 {		
	background-color: rgb(156,214,217);	
	}
.asdasd {		
	background-color: rgb(252,248,84);	
	}
.asdaasd {		
	background-color: rgb(175,219,179);	
	}
.asdasd {		
	background-color: rgb(247,205,223);	
	}
.asdasd {		
	background-color: rgb(190,165,249);	
	}
*/
